* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 40px;
}

.container {
  background: linear-gradient(to right, #000428, #004e92);
  color: white;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 16px 40px -4px rgba(0, 0, 0, 0.36);
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  width: 800px;
}

h3 {
  opacity: 0.8;
  letter-spacing: 2px;
}

.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
}

.joke_btn {
  background: #ffcc33;
  border: none;
  padding: 14px 32px;
  border-radius: 50px;
  color: #004e92;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  font-size: 16px;
}

.joke_btn:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.joke_btn:active {
  transform: scale(0.98);
}
