* {
  box-sizing: border box;
}

body {
  font-family: "Montserrat", "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  padding: 24px 34px;
  background: #ffffff;
  border: 0.6px solid #cfcfcf;
  box-sizing: border-box;
  box-shadow: 0px 90px 160px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.close {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 16px;
}

i {
  transition: all 0.3s ease-in-out;
  font-weight: 28px;
  color: #999999;
}

i:hover {
  transform: rotate(360deg);
  cursor: pointer;
}

.card {
  display: inline-block;
  margin: 10px;
  padding: 12px 22px 2px 22px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  font-family: "poppins";

  color: #585f73;
  transition: 0.2s ease;
}

.card:hover {
  background: #ffffff;
  box-shadow: 0px 8px 20px -4px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  cursor: pointer;
}

.card.active {
  background: #ffffff;
  box-shadow: 0px 8px 20px -4px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.btn_sec {
  color: #353d54;
  font-size: 20px;
  transition: 0.2s ease-in-out;
}

.btn_sec:hover {
  cursor: pointer;
}

.btn_prim {
  background: #3457dc;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding: 12px 34px;
  transition: 0.2 ease-in-out;
}

.btn_prim:hover {
  transform: scale(0.98);
  cursor: pointer;
}

.card.inactive:hover {
  box-shadow: none;
  cursor: default;
}

#submitted {
  display: none;
}

