* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Athen", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: steelblue;
  color: white;
}

.container {
  background: rgb(0, 0, 0, 0.4);
  padding: 30px 40px;
  border-radius: 6px;
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

.btn {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  background: lightblue;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  padding: 15px;
  font-weight: bold;
  transition: 0.1s ease-in-out;
}

.btn:hover {
  background: rgb(135, 193, 212);
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;
}

.form-control {
  position: relative;
  margin: 20px 0 30px;
  width: 300px;
}

.form-control input {
  background: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
  display: block;
}

.form-control input:focus,
.form-control input:valid {
  outline: none;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}
