body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.search {
  height: 50px;
  position: relative;
}

input {
  height: 50px;
  width: 50px;
  padding: 12px;
  background: #f9fafa;
  border: 1px solid #b5bdc4;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.5s ease;
}

button {
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  cursor: pointer;
  font-size: 24px;
  background: #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  transition: transform 0.5s ease;
}

button:hover {
  background: #f9fafa;
  transition: all 0.5s ease;
}

.search.active input {
  width: 422px;
}

input:focus {
  outline: none;
}

.search.active button {
  transform: translateX(410px);
  border: 1px solid #b5bdc4;
  box-sizing: border-box;
  border-radius: 4px;
  border-left: none;
  background: #f9fafa;
}
